.createTodo {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width:32rem;
    height:32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    color:	#FAF9F6;
    background-color: #161b2e;
}
.createTodo .inputbox {
    display: flex;
    flex-direction: column;
}
.createTodo .title {
    width:25rem;
    height:1.5rem;
}
.createTodo .desc {
    width:25rem;
    height:4rem;
    resize:none;
}
.add {
    display: flex;
    justify-content: center;
    align-items: center;
    width:3.5rem;
    height:3.5rem;
    border-radius: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color:#b320b3;
    transition: all 0.5s;
    margin-right: 2rem;
}
.add:hover {
    transform: scale(1.04);
}