html {
  height:100%;
}
body {
  margin:0;
  display: flex;
  align-items: center;
  overflow:hidden;
  height:100%;
  width:100%;
  background-color: #111526;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width:24rem;
  height:95%;
  margin:2rem;
  background-color: #161b2e;
  color:white;
  border-radius: 25px;
}
.maincontent {
  border-radius: 25px;
  width:125rem;
  margin-right:2rem;
  height:95%;
  background-color: #161b2e;

}