.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:5rem;
    margin-right:2rem;
    color:	#FAF9F6;
    background-color: #161b2e;
    border-radius:25px;
}
.habitscontainer {
    width:100%;
    height:90%;
    display: flex;
}
.title {
    color:#FAF9F6;
    margin-left:2rem;
    font-size:2.5rem;
}
.createButton {
    margin-right: 2rem;
}
.habitcontainer {
    width:30rem;
    height:18rem;
    margin:2rem 1rem;
    padding-left:1rem;
    padding-right:1rem;
    border-radius: 10px;
    background-color: #2b314a;
    cursor: pointer;
    color:#FAF9F6;
    transition: all 0.5s;
    box-shadow: rgb(17, 20, 24) 0px 20px 30px -10px;
}
.topcontainer {
    display: flex;
    width:100%;
    justify-content: center;
}
.habittitle {
    width:100%;
}
.habitcontainer:hover {
    transform: scale(1.04);
}
.active {
    box-shadow: #9f149f 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    border: 2px solid #9f149f;
}
.buttoncontainer {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deletebutton {
    width:2rem;
    border-radius: 5px;
    background-color: #7b7e8a;
    color:#FAF9F6;
    transition: all 0.5s;
    height:2rem;
    outline:none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
}
.streakcontainer {
    width: 100%;
    height:4rem;
    display: flex;
    justify-content: center;
    margin-top:2rem;
    
}
.streak {
    height:5rem;
    width:3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.streak p {
    height:0.5rem;
}
