.homecontainer {
    width:100%;
    height:100%;
    border: 1px solid black;
    border-radius:25px;
}
.topcontainer {
    width:60%;
    height:20%;
    display: flex;
    border: 1px solid blue;
}
.middlecontainer {
    width:100%;
    height:50%;
    display: flex;
}
.bottomcontainer {
    width:100%;
    height:50%;
    display: flex;
}
.calendarcontainer {
    width:75%;
    height:100%;
    border: 1px solid red;
}
.todobox {
    width:15rem;
    height:15rem;
    margin:2rem 1rem;
    padding-left:1rem;
    padding-right:1rem;
    border-radius: 10px;
    background-color: #2b314a;
    color:#FAF9F6;
    transition: all 0.5s;
    cursor: pointer;
    text-wrap:wrap;
    animation: motion 0.5s;
    animation-fill-mode: none;
    opacity: 1;
    box-shadow: rgb(17, 20, 24) 0px 20px 30px -10px;
}
.smallinfo {
    width:15rem;
    height:8rem;
    margin:1rem 1.5rem;
    padding-left:1rem;
    padding-right:1rem;
    border-radius: 10px;
    background-color: #2b314a;
    color:#FAF9F6;
    transition: all 0.5s;
    cursor: pointer;
    text-wrap:wrap;
    animation: motion 0.5s;
    animation-fill-mode: none;
    opacity: 1;
    box-shadow: rgb(17, 20, 24) 0px 20px 30px -10px;
}